<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Blog</title>
    <link rel="stylesheet" href="/styles/editBlog.css">
</head>

<body>
    <%- include('components/navbar') %>

    <div class="container">
        <h2>Submit Your Information</h2>
        <form class="blog-form" action="/createblog" method="post" enctype="multipart/form-data">
            <label for="title">Blog Title:</label>
            <input type="text" id="title" name="title" placeholder="Enter your blog title" required>
            
            <label for="image">Blog Image:</label>
            <input type="file" id="image" name="image" placeholder="Enter your blog title" required>

            <label for="subtitle">Blog Subtitle:</label>
            <input type="text" id="subtitle" name="subtitle" placeholder="Enter your blog subtitle" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Write your blog description" rows="6" required></textarea>

            <button type="submit">Publish</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2023 Your Blog</p>
    </footer>
</body>
</html>
